header {
  & nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
  }
  & p {
    font: var(--heading1);
    font-size: 0.875rem;
    color: var(--brand-color-light);
  }

  & a {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
    font: var(--heading2);
    color: var(--text-color-primary);
  }
}

.sub-nav {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  display: flex;
  gap: 2rem;
  border-top: 1px solid var(--stroke-color);
  border-bottom: 1px solid var(--stroke-color);
  padding: 0.875rem 1rem;

  & a {
    font: var(--span);
    color: var(--text-color-secondary);

    &:hover {
      color: var(--brand-color-light);
    }
  }
}
.sub-nav::-webkit-scrollbar {
  display: none;
}
.display-on {
  display: none;
}

@media (width >= 80em) {
  .display-on {
    display: initial;
  }

  header {
    & nav {
      padding: 1.25rem 2rem;
    }
    .sub-nav {
      padding: 0.875rem 2rem;
    }
  }
}
