.tag {
  display: flex;
  text-transform: uppercase;
  background-color: var(--brand-color-dark);
  border-radius: 4px;
  font: var(--tag);
  color: var(--text-color-primary);
  padding: 4px 8px;
  letter-spacing: 4%;
}
.posicao {
  position: relative;
}
.linhas {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  align-self: stretch;

  overflow: hidden;
  color: var(--text-color-primary, #f1f5f9);
  text-overflow: ellipsis;
  white-space: wrap;
}
